@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body  {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}


.list ul {
    list-style-type: none;
    padding: 30;
    margin: 20; 
    margin-left: 120px;
    position: absolute;
    left: 10px; 
    font-size: 24px;
    font-family: "Figtree", sans-serif;
}

.list ul li {
    display: inline-block;
    margin-right: 25px;
    font-weight: 900;
    color: white;
    cursor: pointer;
    position: relative;
}

.list ul li:hover{
    color: #8f9296;
}

.list ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: #8f9296;
    transition: width 0.3s ease; 
}

.list{
    display: flex;
    position: fixed;
    background: #222; 
    width: 100%; 
    height: 80px;
    z-index: 2; 
}
.list .logo{
    width: 6%;
    margin-left: 30px;
}

.list ul li:nth-child(1):hover::before {
    width: 100%;
}

.list ul li:nth-child(2):hover::before {
    width: 100%;
}

.list ul li:nth-child(3):hover::before {
    width: 100%;
}

.list ul li:nth-child(1):hover + li::before {
    width: 0; 
}

.list ul li:nth-child(2):hover + li::before {
    width: 0; 
}

.list ul li:nth-child(3):hover + li::before {
    width: 0; 
}

.list ul li a {
    text-decoration: none; 
    color: inherit; 
}

.section1 {
    position: relative;
    width: 100%;
    height: 60rem; 
    overflow: hidden;
}

.section1 video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.content {
    position: relative;
    text-align: center;
    margin-top: 170px;
    padding: 20px;
    z-index: 1;
}


.deskripsi {
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1px;
    text-align: center;
    text-shadow: 2px 2px 8px rgba(9, 9, 9, 0.5);
}

.deskripsi .desk-name{
    margin-top: -10px;
    font-size: 5rem;
}

.button-container {
    position: relative;
    text-align: center;
    margin-top: -40px;
}

.button-video {
    background: rgb(154, 207, 182); 
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    text-shadow: 2px 2px 8px;
    font-size: 18px;
    width: 200px;
    height: 50px;
    position: absolute;
    bottom: 0;
    transform: translateX(-50%);
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.3);
}

.button-video:hover{
    color: #000;
    background-color: rgb(255, 255, 255);
    text-shadow: none;
}

.section2 {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    background:linear-gradient(to top, rgb(251, 240, 208) , rgb(154, 207, 182)); 
    justify-content: center;
    align-items: center;
}

.section2 .container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%; 
    margin: 0 auto;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;
}

.image-container img {
    max-width: 100%;
    height: auto;
    border-radius: 20px;
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.3);
}

.text-container {
    flex: 1;
    padding-left: 20px; 
}

h2{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 100px;
}
p{
    font-family: "Poppins", sans-serif;
    font-size: 20px;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: translateX(-50px); 
    }
    100% {
        opacity: 1;
        transform: translateX(0); 
    }
}

.section2 .image-container,
.section2 .text-container {
    opacity: 0; 
    animation: fade-in 1s ease forwards; 
}

.section2 .image-container {
    animation-delay: 0.5s; 
}

.section2 .text-container {
    animation-delay: 1s; 
}


.section3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background:linear-gradient(to top, rgb(119, 220, 165) , rgb(251, 240, 208)); 
    height: 100vh;
}

.container{
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1em;
    width: 1000px;
    height: 700px;
    transition: all 4000ms;
}

.container:hover .box {
    filter: grayscale(100%) opacity(24%);
}

.box{
    border-radius: 16px;
    position: relative;
    background: var(--img) center center;
    background-size: cover;
    transition: all 300ms;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 4px 2px 6px rgba(0, 0, 0, 0.3);
}

.container .box:hover{
    filter: grayscale(0%) opacity(100%);
}

.container:has(.box-1:hover){
    grid-template-columns: 3fr 1fr 1fr 1fr 1fr;
}

.container:has(.box-2:hover){
    grid-template-columns: 1fr 3fr 1fr 1fr 1fr;
}

.container:has(.box-3:hover){
    grid-template-columns: 1fr 1fr 3fr 1fr 1fr;
}

.container:has(.box-4:hover){
    grid-template-columns: 1fr 1fr 1fr 3fr 1fr;
}

.container:has(.box-5:hover){
    grid-template-columns: 1fr 1fr 1fr 1fr 3fr;
}

.box:nth-child(odd){
    transform: translateY(-16px);
}

.box:nth-child(even){
    transform: translateY(16px);
}

.box::after{
    content: attr(data-text);
    position: absolute;
    bottom: 20px;
    background: rgb(224, 234, 167);
    color: white;
    padding: 10px 10px 10px 14px;
    letter-spacing: 4px;
    text-transform: uppercase;
    transform: translateY(60px);
    opacity: 0;
    transition: all 200ms;
}

.box:hover::after{
    transform: translateY(0);
    opacity:  1;
    transition-delay: 200ms;
}

.admin-popchi{
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 70px;
    text-align: center;
    width: 100%;
    margin-bottom: 20px;
    padding-bottom: 90px;
    color: rgb(0, 0, 0);
}


.section4 {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    flex-direction: column; /* Mengatur tata letak vertikal */
    justify-content: center; /* Memusatkan konten secara vertikal */
    align-items: center; /* Memusatkan konten secara horizontal */
    background: rgb(119, 220, 165);
}

.deskripsi {
    text-align: center; 
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    padding: 80px;
}

.button-container {
    text-align: center;
}

.button-about {
    text-decoration: none;
    color: white;
    background-color: rgb(224, 234, 167);
    padding: 15px 200px;
    border-radius: 24px;
    font-size: 30px;
    transition: background-color 0.3s ease;
    text-align: center; 
    font-family: "Poppins", sans-serif;
    font-weight: 700;
    font-style: normal;
}

.button-about:hover {
    background-color: rgb(26, 33, 46);
}


footer{
    position: relative;
    width: 100%;
    height: 35vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 50px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
    margin-bottom: 100px;
}

.footer-distributed .footer-left .footer-logo{
    width: 60%;
    margin-left: 50px;
    margin-top: 50px;
    padding: 20px;
}


/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px 150px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    justify-content: center;
    align-items: center;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    margin-left: 30px;
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin-top: -50px;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}


.footer-distributed .footer-right i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-right p {
    display: inline-block;
    color: #ffffff;
    margin: 0;
    vertical-align: middle;
    max-width: 300px;
}

.footer-distributed .footer-rigth p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-right p a {
    color: #ffffff;
    text-decoration: none;
    ;
}

.foote:hover{
    color: #92999f;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}


.footer-distributed .center-isi p {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 150px;
}

.footer-distributed .footer-icons {
    margin-top: 15px;
    margin-left: 150px;
}
/* .footer-distributed .footer-right i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 1px 5px;
    vertical-align: middle;
} */

.footer-distributed .footer-icons a {
    display: inline-block;
    background-color: #33383b;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    line-height: 42px;
    margin-right: 1px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #656d7f;
}

.footer-links a:hover {
    color: #8f9296;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
}       


/* Style Contact.html */
.contact-container{
    height: 60rem;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background:linear-gradient(to top, rgb(251, 240, 208) , rgb(154, 207, 182)); 
}

.form-contact{
    display: flex;
    flex-direction: column;
    align-items: start;
    padding: 40px;
    gap: 20px;
    background: transparent;
    border: 2px solid rgba(255, 255, 255, .2);
    backdrop-filter: blur(2px);
    box-shadow: 0 0 10px rgba(0, 0, 0, .2);
    border-radius: 20px;
}

.form-title{
    margin-left: 115px;
}

.form-title h2{
    font-weight: 700;
    color: #000;
    font-size: 40px;
    margin-bottom: 5px;
}

.form-title hr{
    border: none;
    width: 270px;
    height: 5px;
    background-color: #000;
    border-radius: 10px;
    margin-bottom: 20px;
}

.form-input{
    width: 500px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 600;
    color: #666;
    border-radius: 6px;
}

.form-contact textarea{
    height: 200px;
    padding-top: 15px;
    border-radius: 6px;
}

.form-input:focus{
    border: 2px solid rgba(7, 7, 7, 0.2);
}

.form-input::placeholder{
    color: #a9a9a9;
}

.form-contact button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 6px;
    background-color: #000;
    cursor: pointer;
}

.form-contact button:hover{
    background-color: #666;
}
@media (max-width:800px) {
    .form-input{
        width: 80vw;
    }
    
}

.contact-section2{
    background:linear-gradient(to top, rgb(119, 220, 165) , rgb(251, 240, 208)); 
    height: 45rem;
    margin: 0;
    padding: 20;
    display: flex;
}

.cs2-desc h2{
    margin:0;
    padding: 200px;
    font-size: 22px;
}

