@import url("https://fonts.googleapis.com/css2?family=Figtree&display=swap");

*, *::before, *::after {
    box-sizing: border-box;
}

html, body {
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    margin: 0;
}

body  {
    height: 100%;
    width: 100%;
    margin: 0;
}

html {
    scroll-behavior: smooth;
}

::-webkit-scrollbar{
    display: none;
}

.list ul {
    list-style-type: none;
    padding: 30;
    margin: 20; 
    position: absolute;
    left: 10px; 
    font-size: 24px;
    font-family: "Figtree", sans-serif;
}

.list ul li {
    display: inline-block;
    margin-right: 25px;
    color: white;
    cursor: pointer;
    position: relative;
}

.list ul li::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 2px;
    background-color: white;
    transition: width 0.3s ease; 
}

.list{
    position: fixed;
    background: #222; 
    width: 100%; 
    height: 80px;
    z-index: 2; 
    
}

.list ul li:nth-child(1):hover::before {
    width: 100%;
}

.list ul li:nth-child(2):hover::before {
    width: 100%;
}

.list ul li:nth-child(3):hover::before {
    width: 100%;
}

.list ul li:nth-child(1):hover + li::before {
    width: 0; 
}

.list ul li:nth-child(2):hover + li::before {
    width: 0; 
}

.list ul li:nth-child(3):hover + li::before {
    width: 0; 
}

.list ul li a {
    text-decoration: none; 
    color: inherit; 
}

.section1 {
    position: relative;
    width: 100%;
    height: 60rem; 
    overflow: hidden;
}

.section1 img {
    position: absolute;
    top: 70px;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1; 
}

.content {
    position: relative;
    text-align: start;
    margin-top: 300px;
    padding: 20px;
    z-index: 1;
}


.deskripsi {
    font-family: "Open Sans", sans-serif;
    color: rgb(255, 255, 255);
    font-size: 1px;
    padding-left: 20px;
    text-align: start;
    text-shadow: 2px 2px 8px rgba(9, 9, 9, 0.5);
}

.deskripsi .desk-name{
    margin-top: -10px;
    font-size: 5rem;
}


.bottom-color {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 400px;
    background: linear-gradient(to top, rgb(154, 207, 182), transparent); 
}

.button-container {
    position: relative;
    text-align: center;
    margin-top: -40px;
}

.section2 {
    position: relative;
    width: 100%;
    height: 100vh; 
    display: flex;
    background: linear-gradient(to top, rgb(251, 240, 208), rgb(154, 207, 182)); 
    justify-content: center;
    align-items: center;
}

.image-grid {
    display: flex;
    flex-direction: column;
    gap: 100px; /* Jarak antara baris */
    align-items: center; /* Pusatkan grid secara horizontal */
}

.row {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px; /* Jarak antara gambar di dalam baris */
}

.image-item {
    text-align: center;
    width: 400px; /* Lebar gambar */
    height: 350px; /* Tinggi gambar */
    overflow: hidden;
    border-radius: 8px; /* Corner radius untuk gambar */
    position: relative;
    box-shadow: 2px 2px 8px rgba(9, 9, 9, 0.5);
}

.image-item img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Gambar akan mengisi kontainer dan dipotong jika perlu */
}

.image-caption {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.8); /* Warna latar belakang judul */
    padding: 10px 0; /* Padding atas dan bawah */
    border-radius: 0 0 8px 8px; /* Corner radius bawah */
}

.image-caption h3 {
    margin: 0;
    font-size: 18px; 
    color: #000000; 
    font-family: "Open Sans", sans-serif;
}

.section3 {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Figtree", sans-serif;
    display: flex;
    flex-direction: column; 
    align-items: center;
    background:linear-gradient(to top, rgb(119, 220, 165) , rgb(251, 240, 208)); 
    height: 100vh;
}

footer{
    position: relative;
    width: 100%;
    height: 29vh; 
    display: flex;
    justify-content: center;
    align-items: center;
}


@media (max-height:800px) {
    footer {
        position: static;
    }
    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-color: #2d2a30;
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 50px 50px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
    width: 30%;
}

.footer-distributed h3 {
    color: #ffffff;
    font-size: 36px ;
    margin: 0;
}


.footer-distributed h3 span {
    color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
}

.footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
    width: 35%;
}


.footer-distributed .footer-right i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
}

.footer-distributed .footer-right p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
    max-width: 300px;
}

.footer-distributed .footer-rigth p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
}

.footer-distributed .footer-right p a {
    color: #ffffff;
    text-decoration: none;
    ;
}

.foote:hover{
    color: #92999f;
}

/* Footer Right */

.footer-distributed .footer-right {
    width: 30%;
}

.footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
}

.footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 20px;
}

.footer-distributed .footer-icons {
    margin-top: 2px;
}
/* .footer-distributed .footer-right i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 1px 5px;
    vertical-align: middle;
} */

.footer-distributed .footer-icons a {
    display: inline-block;
    background-color: #33383b;
    width: 38px;
    height: 38px;
    cursor: pointer;
    border-radius: 2px;
    font-size: 25px;
    color: #ffffff;
    text-align: center;
    line-height: 42px;
    margin-right: 1px;
    margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
    background-color: #656d7f;
}

.footer-links a:hover {
    color: #8f9296;
}

@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }
    .footer-distributed .footer-center i {
        margin-left: 0;
    }
} 